{% extends "base.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<link type="text/css" rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename = 'js/home.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="wrapper fixed-wrapper">
        <section id="terminal">
            <div id="terminal-container">
                <div class="terminal">
                    <div class="window-title">
                        <div class="win-buttons">
                            <a id="close" class="button" href="#"></a>
                            <a id="min" class="button" href="#"></a>
                            <a id="max" class="button" href="#"></a>
                        </div>
                        <span class="title">oh-my-zsh</span>
                    </div>
                    <div class="message">
                        <span class='prompt'><span class='user'>rowlavel</span><span class="at">@</span><span
                                class="path">jupiter.io /home </span><span class="caret">$</span>
                        <span class="typed"></span>
                        <form>><span class="caret">$</span>&nbsp;<input type="text" name="response"/></form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="wrapper scroll-wrapper">
        <div class="top-text">
            <p class="text-title desktop-view">Rowan</p>
            <p class="text-title desktop-view">Lavelle</p>
            <p class="text-title mobile-view">Rowan Lavelle</p>
            <div class="social-icons">
                <a target="_blank" href="https://github.com/rlavelle">
                    <img class="title-logo" src="static/images/github.svg">
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/rowan-lavelle/">
                    <img class="title-logo" src="static/images/linkedin-logo.svg">
                </a>
            </div>
        </div>
        <div class="middle-text">
            <p class="text-content">
                My name is Rowan Lavelle, I am currently a Masters student at Indiana University studying Computer Science with a focus is artificial intelligence and machine learning. I also completed my undergraduate degree here at IU, I majored in computer science with minors in mathematics and statistics. <br> <br>
                My current curiosities lie in natural language processing (NLP), stochastic processes, and Bayesian methods. I am very curious about the intersection between artificial intelligence and finance. Especially the combination of bayesian statistics and knowledge based NLP for the modeling of financial markets. <br> <br>
                Outside of these interests, my curiosity is also peaked by space exploration and astronomy. One of my current fascinations is <a target="_blank" href="https://en.wikipedia.org/wiki/Kessler_syndrome">Kessler Syndrome</a>. I think the application of autonomous vehicles for the cleaning up of lower orbit is a must for our current situation.
            </p>

            <p class="text-content">
                As of right now I am a teachers assistant for an undergrad introduction to AI course. We cover the basics of logic, probability, search algorithms, heuristics, games, knowledge representation, and machine learning. It has been a very interesting course to teach, and I have learned a lot about explaining high level concepts to people with no background in the subject. <br> <br>
                Along with this I am a computational biophysics researcher under the head of the IU physics department. Although the project is currently on hold due to funding, it has been an incredibly motivating project to work on. Coming into the project I had no knowledge of biology, differential equations, or stochastic simulations. Over the course of the project I have been able to interact, and learn the basics of these things in a hands on manner. <br> <br> Going forward from here I hope that we are able to continue the project, the research is very stimulating, and will have a large impact on the understanding of the meiotic termination network. We are attempting to model the counts of different proteins as the cell goes through its phases, so that we can quantitatively determine when a cell has entered the exit phase of its life. The project can be found <a href="{{ url_for('projects') }}">here</a> in the projects tab! 
            </p>


            <p class="text-content">You can find me on <a href="http://in.linkedin.com/in/rowan-lavelle/">LinkedIn</a>,
                or email me <a href="mailto:rowan.lavelle@gmail.com?Subject=Hello%20Rowan%20-from-website" target="_top">here</a>.
            </p>

            <p class="text-content">Let's get in touch if you like what you see!</p>

            <p class="text-content">Rowan Lavelle</p>

            <br>
        </div>
    </div>
</div>
{% endblock %}
